@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* CSS Syntax

selector {
  property:value;
  property:value;
}
*/

/* Type Selector */
p {
  font-size: 1em; /* 1em = 16px */
  line-height: 1.5em;
}

figcaption {
  /*
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; Use "" if space in name */
  /* The line below does the same as the 4 lines above. */
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  /* Color shorthand: #88AAFF = 8AF or #0088CC = 08C */
  text-align: right;
}


/* Class selector (applied to as many elements as you like) */

.milk-text { /* will select elements with class="milk-text" */
    font: bold 2.6em 'Elsie Swash Caps', cursive;
    color: white;
    text-shadow: 0 2px 3px #000;
    /* for text-shadow syntax: [horizontal offset] [vertical offset] [blur radius] [color] */
}


/* ID selector (apply to only one unique element per page) */

#logo { /* will select elements with id="logo" */
  background-color: aqua;
}


/* Descendant selector */

#logo h1 { /* will look for h1's inside of id="logo" */
  font-family: 'Clicker Script', cursive;
}
#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}


/* Psuedo selector

#details a:link{ :link is the psuedo selector
  color: black;
  text-decoration: none;
}
#details a:visited{  :visited is the psuedo selector
  color: black;
  text-decoration: none;
}
THE ABOVE TWO SELECTORS CAN BE WRITTEN AS ONE! */

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}
#details a:hover {
  color: black;
  text-decoration: underline
}
#details a:active {
  color: red;
}
